
*{
    margin:0;
    padding:0;
    text-align: center;
   
}
h1{
    color:white;
    background-color: rgb(33, 12, 96);
    height:80px;
    height:5rem;
    line-height:5rem;
}
.choice {
      height: 165px;
      width: 165px;
      border-radius: 40%;
}
 .choices{
    margin-top: 2rem;
    display : flex;
    justify-content: center;
    gap:5rem;
    border-radius: 10%;
} 
.choice img{
    height: 100%;
      width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
 background-color :rgb(19, 3, 3);
 cursor: pointer;
}
.scoreboard{
    margin-top: 5rem;
    gap:5rem;
   justify-content : center;
   display:flex;
   align-items: center;
   font-size: 2rem;
}


.Massage{
    height:40px;
    display:inline-block;
    margin-top:9rem;
    background-color: rgb(21, 23, 21);
    color:white;
    font-size:2rem;
    border-radius:10%;
}